@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-sniper-rifle:before { content: "\f100"; }
.flaticon-002-bomb:before { content: "\f101"; }
.flaticon-003-sniper-rifle:before { content: "\f102"; }
.flaticon-004-trident:before { content: "\f103"; }
.flaticon-005-bow-and-arrow:before { content: "\f104"; }
.flaticon-006-assault-rifle:before { content: "\f105"; }
.flaticon-007-crossbow:before { content: "\f106"; }
.flaticon-008-nunchaku:before { content: "\f107"; }
.flaticon-009-sai:before { content: "\f108"; }
.flaticon-010-shuriken:before { content: "\f109"; }
.flaticon-011-submachine-gun:before { content: "\f10a"; }
.flaticon-012-sabre:before { content: "\f10b"; }
.flaticon-013-hammer:before { content: "\f10c"; }
.flaticon-014-hand-grenade:before { content: "\f10d"; }
.flaticon-015-hand-grenade:before { content: "\f10e"; }
.flaticon-016-revolver:before { content: "\f10f"; }
.flaticon-017-axe:before { content: "\f110"; }
.flaticon-018-sniper-rifle:before { content: "\f111"; }
.flaticon-019-shuriken:before { content: "\f112"; }
.flaticon-020-sniper-rifle:before { content: "\f113"; }
.flaticon-021-shuriken:before { content: "\f114"; }
.flaticon-022-sword:before { content: "\f115"; }
.flaticon-023-sniper-rifle:before { content: "\f116"; }
.flaticon-024-atomic-bomb:before { content: "\f117"; }
.flaticon-025-rocket:before { content: "\f118"; }
.flaticon-026-hammer:before { content: "\f119"; }
.flaticon-027-machine-gun:before { content: "\f11a"; }
.flaticon-028-sword:before { content: "\f11b"; }
.flaticon-029-kunai:before { content: "\f11c"; }
.flaticon-030-torpedo:before { content: "\f11d"; }
.flaticon-031-bazooka:before { content: "\f11e"; }
.flaticon-032-sword:before { content: "\f11f"; }
.flaticon-033-time-bomb:before { content: "\f120"; }
.flaticon-034-mace:before { content: "\f121"; }
.flaticon-035-dagger:before { content: "\f122"; }
.flaticon-036-target:before { content: "\f123"; }
.flaticon-037-mace:before { content: "\f124"; }
.flaticon-038-molotov-cocktail:before { content: "\f125"; }
.flaticon-039-shotgun:before { content: "\f126"; }
.flaticon-040-kunai:before { content: "\f127"; }
.flaticon-041-axe:before { content: "\f128"; }
.flaticon-042-sword:before { content: "\f129"; }
.flaticon-043-shotgun:before { content: "\f12a"; }
.flaticon-044-shield:before { content: "\f12b"; }
.flaticon-045-handgun:before { content: "\f12c"; }
.flaticon-046-shield:before { content: "\f12d"; }
.flaticon-047-bullet:before { content: "\f12e"; }
.flaticon-048-knife:before { content: "\f12f"; }
.flaticon-049-pistol:before { content: "\f130"; }
.flaticon-050-dynamite:before { content: "\f131"; }

$font-Flaticon-001-sniper-rifle: "\f100";
$font-Flaticon-002-bomb: "\f101";
$font-Flaticon-003-sniper-rifle: "\f102";
$font-Flaticon-004-trident: "\f103";
$font-Flaticon-005-bow-and-arrow: "\f104";
$font-Flaticon-006-assault-rifle: "\f105";
$font-Flaticon-007-crossbow: "\f106";
$font-Flaticon-008-nunchaku: "\f107";
$font-Flaticon-009-sai: "\f108";
$font-Flaticon-010-shuriken: "\f109";
$font-Flaticon-011-submachine-gun: "\f10a";
$font-Flaticon-012-sabre: "\f10b";
$font-Flaticon-013-hammer: "\f10c";
$font-Flaticon-014-hand-grenade: "\f10d";
$font-Flaticon-015-hand-grenade: "\f10e";
$font-Flaticon-016-revolver: "\f10f";
$font-Flaticon-017-axe: "\f110";
$font-Flaticon-018-sniper-rifle: "\f111";
$font-Flaticon-019-shuriken: "\f112";
$font-Flaticon-020-sniper-rifle: "\f113";
$font-Flaticon-021-shuriken: "\f114";
$font-Flaticon-022-sword: "\f115";
$font-Flaticon-023-sniper-rifle: "\f116";
$font-Flaticon-024-atomic-bomb: "\f117";
$font-Flaticon-025-rocket: "\f118";
$font-Flaticon-026-hammer: "\f119";
$font-Flaticon-027-machine-gun: "\f11a";
$font-Flaticon-028-sword: "\f11b";
$font-Flaticon-029-kunai: "\f11c";
$font-Flaticon-030-torpedo: "\f11d";
$font-Flaticon-031-bazooka: "\f11e";
$font-Flaticon-032-sword: "\f11f";
$font-Flaticon-033-time-bomb: "\f120";
$font-Flaticon-034-mace: "\f121";
$font-Flaticon-035-dagger: "\f122";
$font-Flaticon-036-target: "\f123";
$font-Flaticon-037-mace: "\f124";
$font-Flaticon-038-molotov-cocktail: "\f125";
$font-Flaticon-039-shotgun: "\f126";
$font-Flaticon-040-kunai: "\f127";
$font-Flaticon-041-axe: "\f128";
$font-Flaticon-042-sword: "\f129";
$font-Flaticon-043-shotgun: "\f12a";
$font-Flaticon-044-shield: "\f12b";
$font-Flaticon-045-handgun: "\f12c";
$font-Flaticon-046-shield: "\f12d";
$font-Flaticon-047-bullet: "\f12e";
$font-Flaticon-048-knife: "\f12f";
$font-Flaticon-049-pistol: "\f130";
$font-Flaticon-050-dynamite: "\f131";