@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-sniper-rifle:before { content: "\f100"; }
.flaticon-002-bomb:before { content: "\f101"; }
.flaticon-003-sniper-rifle:before { content: "\f102"; }
.flaticon-004-trident:before { content: "\f103"; }
.flaticon-005-bow-and-arrow:before { content: "\f104"; }
.flaticon-006-assault-rifle:before { content: "\f105"; }
.flaticon-007-crossbow:before { content: "\f106"; }
.flaticon-008-nunchaku:before { content: "\f107"; }
.flaticon-009-sai:before { content: "\f108"; }
.flaticon-010-shuriken:before { content: "\f109"; }
.flaticon-011-submachine-gun:before { content: "\f10a"; }
.flaticon-012-sabre:before { content: "\f10b"; }
.flaticon-013-hammer:before { content: "\f10c"; }
.flaticon-014-hand-grenade:before { content: "\f10d"; }
.flaticon-015-hand-grenade:before { content: "\f10e"; }
.flaticon-016-revolver:before { content: "\f10f"; }
.flaticon-017-axe:before { content: "\f110"; }
.flaticon-018-sniper-rifle:before { content: "\f111"; }
.flaticon-019-shuriken:before { content: "\f112"; }
.flaticon-020-sniper-rifle:before { content: "\f113"; }
.flaticon-021-shuriken:before { content: "\f114"; }
.flaticon-022-sword:before { content: "\f115"; }
.flaticon-023-sniper-rifle:before { content: "\f116"; }
.flaticon-024-atomic-bomb:before { content: "\f117"; }
.flaticon-025-rocket:before { content: "\f118"; }
.flaticon-026-hammer:before { content: "\f119"; }
.flaticon-027-machine-gun:before { content: "\f11a"; }
.flaticon-028-sword:before { content: "\f11b"; }
.flaticon-029-kunai:before { content: "\f11c"; }
.flaticon-030-torpedo:before { content: "\f11d"; }
.flaticon-031-bazooka:before { content: "\f11e"; }
.flaticon-032-sword:before { content: "\f11f"; }
.flaticon-033-time-bomb:before { content: "\f120"; }
.flaticon-034-mace:before { content: "\f121"; }
.flaticon-035-dagger:before { content: "\f122"; }
.flaticon-036-target:before { content: "\f123"; }
.flaticon-037-mace:before { content: "\f124"; }
.flaticon-038-molotov-cocktail:before { content: "\f125"; }
.flaticon-039-shotgun:before { content: "\f126"; }
.flaticon-040-kunai:before { content: "\f127"; }
.flaticon-041-axe:before { content: "\f128"; }
.flaticon-042-sword:before { content: "\f129"; }
.flaticon-043-shotgun:before { content: "\f12a"; }
.flaticon-044-shield:before { content: "\f12b"; }
.flaticon-045-handgun:before { content: "\f12c"; }
.flaticon-046-shield:before { content: "\f12d"; }
.flaticon-047-bullet:before { content: "\f12e"; }
.flaticon-048-knife:before { content: "\f12f"; }
.flaticon-049-pistol:before { content: "\f130"; }
.flaticon-050-dynamite:before { content: "\f131"; }